// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome.scss';

.select2 { width: 100% }
.narrow-padding-global { padding: 4px; }
.narrow-padding { td { padding: 2px;} }
.pointer { cursor: pointer; }
.bg-dark-blue { background-color: #3c8dbc !important; }
.bg-dark-green { background-color: #4aa94a !important; }
.btn-group-full-width { width: 100%; }

.white-alert {
    color: #d7f3e3;
    background-color: #d7f3e3;
    border-color: #c7eed8;
  }

  .red-alert {
    color: #f3e4d7;
    background-color: #f3e4d7;
    border-color: #f3e4d7;
  }
  
  .red-alert2 {
    color: #f3e4d7;
    background-color: #f3e4d7;
    border-color: #f3e4d7;
  }

  .canvas{
    border: 1px solid;
    border-color: grey;
  }
  td.details-control {
    background: url('/../images/plus.png') no-repeat center center;
    cursor: pointer;
  }
  tr.shown td.details-control {
      background: url('/../images/plus.png') no-repeat center center;
  }
  .pale-green{
    background-color: #98FB98;
  }
  .nav-link{
    color: black
  }

  .padding-systemsetup{
    padding-top:32px;
  }

  .font-white{
    color:white;
  }