* {
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

table {
    font-size: 22px;
}

tfoot tr td {
    font-weight: bold;
    font-size: 14px;
}

.gray {
    background-color: lightgray
}

footer {
    position: fixed;
    bottom: -60px;
    left: 0px;
    right: 0px;
    height: 50px;

    /** Extra personal styles **/
    background-color: #03a9f4;
    color: white;
    text-align: center;
    line-height: 35px;
}
